@import url(universals.css);

:root{
    --navbar-height: 56px;
    --sidebar-width: 340px;
}


.brand-text,.brand-text:hover{
    color: #10A390;
}

.clear{
    text-decoration: none;
}

.table-height{
    height: 375px;
}

.row-height{
    height: 75px;
}

.logo{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.custom-select{
    width: auto;
}
