@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Oxygen:wght@300;400;700&family=Poppins:wght@500;700&display=swap');

/*
Colors Used:
-gray = Concrete (heavily modified) #f3f2f2
-light-pink = Mountbatten Pink #a58793
-red = Cinnabar #e6483d
-orange = Mango Tango #e27104
-yellow = Hokey Pokey #cfbf29
-green = Olivine #9ac582
-blue = Malibu #92e4f9
-violet = Medium Purple #9461e6
*/

:root{
--gray-50: #f3f2f2;
--gray-100: #ebeaea;
--gray-200: #e6e5e5;
--gray-250: #dad8d8;
--gray-300: #d0cece;
--gray-350: #bcb9b9;
--gray-400: #afacac;
--gray-500: #918d8d;
--gray-550: #7d7878;
--gray-600: #6d6969;
--gray-700: #494646;
--gray-800: #413e3e;
--gray-900: #373434;
--gray-1000: #272525; 

--light-pink-50: #f8f6f7;
--light-pink-100: #f2eeef;
--light-pink-200: #e7dfe2;
--light-pink-250: #dcd0d5;
--light-pink-300: #d1c2c8;
--light-pink-350: #c8b6bd;
--light-pink-400: #bba5ae;
--light-pink-500: #a58793;
--light-pink-550: #967381;
--light-pink-600: #896774;
--light-pink-700: #664d57;
--light-pink-800: #57424a;
--light-pink-900: #49373e;

--red-50: #fef6f6;
--red-100: #fdeeed;
--red-200: #fadddb;
--red-250: #f8ccc9;
--red-300: #f6bfbb;
--red-350: #f3aaa5;
--red-400: #f19993;
--red-500: #eb6e66;
--red-550: #e6483d;
--red-600: #e3352a;
--red-700: #b02117;
--red-800: #951c13;
--red-900: #7e1810;

--orange-50: #fff4eb;
--orange-100: #feeddc;
--orange-200: #fed8b4;
--orange-250: #fecda0;
--orange-300: #fdbb7c;
--orange-350: #fca554;
--orange-400: #fc902c;
--orange-500: #e27104;
--orange-550: #c96303;
--orange-600: #b55903;
--orange-700: #884302;
--orange-800: #743902;
--orange-900: #5f2f01;

--yellow-50: #faf8e5;
--yellow-100: #f4f0c8;
--yellow-200: #ece49d;
--yellow-250: #e3d872;
--yellow-300: #dacb44;
--yellow-350: #cfbf29;
--yellow-400: #c0b026;
--yellow-500: #9e911f;
--yellow-550: #8d811c;
--yellow-600: #7b7218;
--yellow-700: #5e5613;
--yellow-800: #514a10;
--yellow-900: #443f0d;

--green-50: #f1f7ee;
--green-100: #e6f1e0;
--green-200: #cfe4c4;
--green-250: #bedaaf;
--green-300: #aacf96;
--green-350: #9ac582;
--green-400: #82b865;
--green-500: #619645;
--green-550: #58883f;
--green-600: #4b7335;
--green-700: #3b5b2a;
--green-800: #324d23;
--green-900: #2b421f;

--blue-50: #e7f9fe;
--blue-100: #d3f4fd;
--blue-200: #a8eafa;
--blue-250: #92e4f9;
--blue-300: #5fd8f7;
--blue-350: #2fcdf4;
--blue-400: #0cbce9;
--blue-500: #0a99bd;
--blue-550: #0989aa;
--blue-600: #087691;
--blue-700: #065a6f;
--blue-800: #054b5c;
--blue-900: #044352;

--violet-50: #f6f2fd;
--violet-100: #f0e9fc;
--violet-200: #e4d7f9;
--violet-250: #dbcaf7;
--violet-300: #cfb8f4;
--violet-350: #c6abf2;
--violet-400: #ba9aef;
--violet-500: #a072e9;
--violet-550: #9461e6;
--violet-600: #854ae3;
--violet-700: #6822d8;
--violet-800: #571cb5;
--violet-900: #4a189a;
}

/*Font classes, universally available, even with Bootstrap enabled*/
.inter-300{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.inter-500{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.oxygen-300{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.oxygen-400{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
.oxygen-700{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.poppins-500{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.poppins-700{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/*Font size class, universally available, even with Bootstrap enabled*/
.f-xxs{
    font-size: 10px !important;
}
.inter-500{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.oxygen-300{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.oxygen-400{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
.oxygen-700{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.poppins-500{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.poppins-700{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/*Color classes, universally available, even with Bootstrap enabled
  Starts with item color, background color (bg), then border color (bd)*/
.gray-50{
    color: var(--gray-50);
}
.gray-100{
    color: var(--gray-100);
}
.gray-200{
    color: var(--gray-200);
}
.gray-250{
    color: var(--gray-250);
}
.gray-300{
    color: var(--gray-300);
}
.gray-350{
    color: var(--gray-350);
}
.gray-400{
    color: var(--gray-400);
}
.gray-500{
    color: var(--gray-500);
}
.gray-550{
    color: var(--gray-550);
}
.gray-600{
    color: var(--gray-600);
}
.gray-700{
    color: var(--gray-700);
}
.gray-800{
    color: var(--gray-800);
}
.gray-900{
    color: var(--gray-900);
}

.bg-gray-50{
    background-color: var(--gray-50);
}
.bg-gray-100{
    background-color: var(--gray-100);
}
.bg-gray-200{
    background-color: var(--gray-200);
}
.bg-gray-250{
    background-color: var(--gray-250);
}
.bg-gray-300{
    background-color: var(--gray-300);
}
.bg-gray-350{
    background-color: var(--gray-350);
}
.bg-gray-400{
    background-color: var(--gray-400);
}
.bg-gray-500{
    background-color: var(--gray-500);
}
.bg-gray-550{
    background-color: var(--gray-550);
}
.bg-gray-600{
    background-color: var(--gray-600);
}
.bg-gray-700{
    background-color: var(--gray-700);
}
.bg-gray-800{
    background-color: var(--gray-800);
}
.bg-gray-900{
    background-color: var(--gray-900);
}

.bd-gray-50{
    border-color: var(--gray-50)    !important;
}
.bd-gray-100{
    border-color: var(--gray-100)   !important;
}
.bd-gray-200{
    border-color: var(--gray-200)   !important;
}
.bd-gray-250{
    border-color: var(--gray-250)   !important;
}
.bd-gray-300{
    border-color: var(--gray-300)   !important;
}
.bd-gray-350{
    border-color: var(--gray-350)   !important;
}
.bd-gray-400{
    border-color: var(--gray-400)   !important;
}
.bd-gray-500{
    border-color: var(--gray-500)   !important;
}
.bd-gray-550{
    border-color: var(--gray-550)   !important;
}
.bd-gray-600{
    border-color: var(--gray-600)   !important;
}
.bd-gray-700{
    border-color: var(--gray-700)   !important;
}
.bd-gray-800{
    border-color: var(--gray-800)   !important;
}
.bd-gray-900{
    border-color: var(--gray-900)   !important;
}



.light-pink-50{
    color: var(--light-pink-50);
}
.light-pink-100{
    color: var(--light-pink-100);
}
.light-pink-200{
    color: var(--light-pink-200);
}
.light-pink-250{
    color: var(--light-pink-250);
}
.light-pink-300{
    color: var(--light-pink-300);
}
.light-pink-350{
    color: var(--light-pink-350);
}
.light-pink-400{
    color: var(--light-pink-400);
}
.light-pink-500{
    color: var(--light-pink-500);
}
.light-pink-550{
    color: var(--light-pink-550);
}
.light-pink-600{
    color: var(--light-pink-600);
}
.light-pink-700{
    color: var(--light-pink-700);
}
.light-pink-800{
    color: var(--light-pink-800);
}
.light-pink-900{
    color: var(--light-pink-900);
}

.bg-light-pink-50{
    background-color: var(--light-pink-50);
}
.bg-light-pink-100{
    background-color: var(--light-pink-100);
}
.bg-light-pink-200{
    background-color: var(--light-pink-200);
}
.bg-light-pink-250{
    background-color: var(--light-pink-250);
}
.bg-light-pink-300{
    background-color: var(--light-pink-300);
}
.bg-light-pink-350{
    background-color: var(--light-pink-350);
}
.bg-light-pink-400{
    background-color: var(--light-pink-400);
}
.bg-light-pink-500{
    background-color: var(--light-pink-500);
}
.bg-light-pink-550{
    background-color: var(--light-pink-550);
}
.bg-light-pink-600{
    background-color: var(--light-pink-600);
}
.bg-light-pink-700{
    background-color: var(--light-pink-700);
}
.bg-light-pink-800{
    background-color: var(--light-pink-800);
}
.bg-light-pink-900{
    background-color: var(--light-pink-900);
}

.bd-light-pink-50{
    border-color: var(--light-pink-50)  !important;
}
.bd-light-pink-100{
    border-color: var(--light-pink-100) !important;
}
.bd-light-pink-200{
    border-color: var(--light-pink-200) !important;
}
.bd-light-pink-250{
    border-color: var(--light-pink-250) !important;
}
.bd-light-pink-300{
    border-color: var(--light-pink-300) !important;
}
.bd-light-pink-350{
    border-color: var(--light-pink-350) !important;
}
.bd-light-pink-400{
    border-color: var(--light-pink-400) !important;
}
.bd-light-pink-500{
    border-color: var(--light-pink-500) !important;
}
.bd-light-pink-550{
    border-color: var(--light-pink-550) !important;
}
.bd-light-pink-600{
    border-color: var(--light-pink-600) !important;
}
.bd-light-pink-700{
    border-color: var(--light-pink-700) !important;
}
.bd-light-pink-800{
    border-color: var(--light-pink-800) !important;
}
.bd-light-pink-900{
    border-color: var(--light-pink-900) !important;
}



.red-50{
    color: var(--red-50);
}
.red-100{
    color: var(--red-100);
}
.red-200{
    color: var(--red-200);
}
.red-250{
    color: var(--red-250);
}
.red-300{
    color: var(--red-300);
}
.red-350{
    color: var(--red-350);
}
.red-400{
    color: var(--red-400);
}
.red-500{
    color: var(--red-500);
}
.red-550{
    color: var(--red-550);
}
.red-600{
    color: var(--red-600);
}
.red-700{
    color: var(--red-700);
}
.red-800{
    color: var(--red-800);
}
.red-900{
    color: var(--red-900);
}

.bg-red-50{
    background-color: var(--red-50);
}
.bg-red-100{
    background-color: var(--red-100);
}
.bg-red-200{
    background-color: var(--red-200);
}
.bg-red-250{
    background-color: var(--red-250);
}
.bg-red-300{
    background-color: var(--red-300);
}
.bg-red-350{
    background-color: var(--red-350);
}
.bg-red-400{
    background-color: var(--red-400);
}
.bg-red-500{
    background-color: var(--red-500);
}
.bg-red-550{
    background-color: var(--red-550);
}
.bg-red-600{
    background-color: var(--red-600);
}
.bg-red-700{
    background-color: var(--red-700);
}
.bg-red-800{
    background-color: var(--red-800);
}
.bg-red-900{
    background-color: var(--red-900);
}

.bd-red-50{
    border-color: var(--red-50)     !important;
}
.bd-red-100{
    border-color: var(--red-100)    !important;
}
.bd-red-200{
    border-color: var(--red-200)    !important;
}
.bd-red-250{
    border-color: var(--red-250)    !important;
}
.bd-red-300{
    border-color: var(--red-300)    !important;
}
.bd-red-350{
    border-color: var(--red-350)    !important;
}
.bd-red-400{
    border-color: var(--red-400)    !important;
}
.bd-red-500{
    border-color: var(--red-500)    !important;
}
.bd-red-550{
    border-color: var(--red-550)    !important;
}
.bd-red-600{
    border-color: var(--red-600)    !important;
}
.bd-red-700{
    border-color: var(--red-700)    !important;
}
.bd-red-800{
    border-color: var(--red-800)    !important;
}
.bd-red-900{
    border-color: var(--red-900)    !important;
}



.orange-50{
    color: var(--orange-50);
}
.orange-100{
    color: var(--orange-100);
}
.orange-200{
    color: var(--orange-200);
}
.orange-250{
    color: var(--orange-250);
}
.orange-300{
    color: var(--orange-300);
}
.orange-350{
    color: var(--orange-350);
}
.orange-400{
    color: var(--orange-400);
}
.orange-500{
    color: var(--orange-500);
}
.orange-550{
    color: var(--orange-550);
}
.orange-600{
    color: var(--orange-600);
}
.orange-700{
    color: var(--orange-700);
}
.orange-800{
    color: var(--orange-800);
}
.orange-900{
    color: var(--orange-900);
}

.bg-orange-50{
    background-color: var(--orange-50);
}
.bg-orange-100{
    background-color: var(--orange-100);
}
.bg-orange-200{
    background-color: var(--orange-200);
}
.bg-orange-250{
    background-color: var(--orange-250);
}
.bg-orange-300{
    background-color: var(--orange-300);
}
.bg-orange-350{
    background-color: var(--orange-350);
}
.bg-orange-400{
    background-color: var(--orange-400);
}
.bg-orange-500{
    background-color: var(--orange-500);
}
.bg-orange-550{
    background-color: var(--orange-550);
}
.bg-orange-600{
    background-color: var(--orange-600);
}
.bg-orange-700{
    background-color: var(--orange-700);
}
.bg-orange-800{
    background-color: var(--orange-800);
}
.bg-orange-900{
    background-color: var(--orange-900);
}

.bd-orange-50{
    border-color: var(--orange-50)  !important;
}
.bd-orange-100{
    border-color: var(--orange-100) !important;
}
.bd-orange-200{
    border-color: var(--orange-200) !important;
}
.bd-orange-250{
    border-color: var(--orange-250) !important;
}
.bd-orange-300{
    border-color: var(--orange-300) !important;
}
.bd-orange-350{
    border-color: var(--orange-350) !important;
}
.bd-orange-400{
    border-color: var(--orange-400) !important;
}
.bd-orange-500{
    border-color: var(--orange-500) !important;
}
.bd-orange-550{
    border-color: var(--orange-550) !important;
}
.bd-orange-600{
    border-color: var(--orange-600) !important;
}
.bd-orange-700{
    border-color: var(--orange-700) !important;
}
.bd-orange-800{
    border-color: var(--orange-800) !important;
}
.bd-orange-900{
    border-color: var(--orange-900) !important;
}



.yellow-50{
    color: var(--yellow-50);
}
.yellow-100{
    color: var(--yellow-100);
}
.yellow-200{
    color: var(--yellow-200);
}
.yellow-250{
    color: var(--yellow-250);
}
.yellow-300{
    color: var(--yellow-300);
}
.yellow-350{
    color: var(--yellow-350);
}
.yellow-400{
    color: var(--yellow-400);
}
.yellow-500{
    color: var(--yellow-500);
}
.yellow-550{
    color: var(--yellow-550);
}
.yellow-600{
    color: var(--yellow-600);
}
.yellow-700{
    color: var(--yellow-700);
}
.yellow-800{
    color: var(--yellow-800);
}
.yellow-900{
    color: var(--yellow-900);
}

.bg-yellow-50{
    background-color: var(--yellow-50);
}
.bg-yellow-100{
    background-color: var(--yellow-100);
}
.bg-yellow-200{
    background-color: var(--yellow-200);
}
.bg-yellow-250{
    background-color: var(--yellow-250);
}
.bg-yellow-300{
    background-color: var(--yellow-300);
}
.bg-yellow-350{
    background-color: var(--yellow-350);
}
.bg-yellow-400{
    background-color: var(--yellow-400);
}
.bg-yellow-500{
    background-color: var(--yellow-500);
}
.bg-yellow-550{
    background-color: var(--yellow-550);
}
.bg-yellow-600{
    background-color: var(--yellow-600);
}
.bg-yellow-700{
    background-color: var(--yellow-700);
}
.bg-yellow-800{
    background-color: var(--yellow-800);
}
.bg-yellow-900{
    background-color: var(--yellow-900);
}

.bd-yellow-50{
    border-color: var(--yellow-50)  !important;
}
.bd-yellow-100{
    border-color: var(--yellow-100) !important;
}
.bd-yellow-200{
    border-color: var(--yellow-200) !important;
}
.bd-yellow-250{
    border-color: var(--yellow-250) !important;
}
.bd-yellow-300{
    border-color: var(--yellow-300) !important;
}
.bd-yellow-350{
    border-color: var(--yellow-350) !important;
}
.bd-yellow-400{
    border-color: var(--yellow-400) !important;
}
.bd-yellow-500{
    border-color: var(--yellow-500) !important;
}
.bd-yellow-550{
    border-color: var(--yellow-550) !important;
}
.bd-yellow-600{
    border-color: var(--yellow-600) !important;
}
.bd-yellow-700{
    border-color: var(--yellow-700) !important;
}
.bd-yellow-800{
    border-color: var(--yellow-800) !important;
}
.bd-yellow-900{
    border-color: var(--yellow-900) !important;
}



.green-50{
    color: var(--green-50);
}
.green-100{
    color: var(--green-100);
}
.green-200{
    color: var(--green-200);
}
.green-250{
    color: var(--green-250);
}
.green-300{
    color: var(--green-300);
}
.green-350{
    color: var(--green-350);
}
.green-400{
    color: var(--green-400);
}
.green-500{
    color: var(--green-500);
}
.green-550{
    color: var(--green-550);
}
.green-600{
    color: var(--green-600);
}
.green-700{
    color: var(--green-700);
}
.green-800{
    color: var(--green-800);
}
.green-900{
    color: var(--green-900);
}

.bg-green-50{
    background-color: var(--green-50);
}
.bg-green-100{
    background-color: var(--green-100);
}
.bg-green-200{
    background-color: var(--green-200);
}
.bg-green-250{
    background-color: var(--green-250);
}
.bg-green-300{
    background-color: var(--green-300);
}
.bg-green-350{
    background-color: var(--green-350);
}
.bg-green-400{
    background-color: var(--green-400);
}
.bg-green-500{
    background-color: var(--green-500);
}
.bg-green-550{
    background-color: var(--green-550);
}
.bg-green-600{
    background-color: var(--green-600);
}
.bg-green-700{
    background-color: var(--green-700);
}
.bg-green-800{
    background-color: var(--green-800);
}
.bg-green-900{
    background-color: var(--green-900);
}

.bd-green-50{
    border-color: var(--green-50)   !important;
}
.bd-green-100{
    border-color: var(--green-100)  !important;
}
.bd-green-200{
    border-color: var(--green-200)  !important;
}
.bd-green-250{
    border-color: var(--green-250)  !important;
}
.bd-green-300{
    border-color: var(--green-300)  !important;
}
.bd-green-350{
    border-color: var(--green-350)  !important;
}
.bd-green-400{
    border-color: var(--green-400)  !important;
}
.bd-green-500{
    border-color: var(--green-500)  !important;
}
.bd-green-550{
    border-color: var(--green-550)  !important;
}
.bd-green-600{
    border-color: var(--green-600)  !important;
}
.bd-green-700{
    border-color: var(--green-700)  !important;
}
.bd-green-800{
    border-color: var(--green-800)  !important;
}
.bd-green-900{
    border-color: var(--green-900)  !important;
}



.blue-50{
    color: var(--blue-50);
}
.blue-100{
    color: var(--blue-100);
}
.blue-200{
    color: var(--blue-200);
}
.blue-250{
    color: var(--blue-250);
}
.blue-300{
    color: var(--blue-300);
}
.blue-350{
    color: var(--blue-350);
}
.blue-400{
    color: var(--blue-400);
}
.blue-500{
    color: var(--blue-500);
}
.blue-550{
    color: var(--blue-550);
}
.blue-600{
    color: var(--blue-600);
}
.blue-700{
    color: var(--blue-700);
}
.blue-800{
    color: var(--blue-800);
}
.blue-900{
    color: var(--blue-900);
}

.bg-blue-50{
    background-color: var(--blue-50);
}
.bg-blue-100{
    background-color: var(--blue-100);
}
.bg-blue-200{
    background-color: var(--blue-200);
}
.bg-blue-250{
    background-color: var(--blue-250);
}
.bg-blue-300{
    background-color: var(--blue-300);
}
.bg-blue-350{
    background-color: var(--blue-350);
}
.bg-blue-400{
    background-color: var(--blue-400);
}
.bg-blue-500{
    background-color: var(--blue-500);
}
.bg-blue-550{
    background-color: var(--blue-550);
}
.bg-blue-600{
    background-color: var(--blue-600);
}
.bg-blue-700{
    background-color: var(--blue-700);
}
.bg-blue-800{
    background-color: var(--blue-800);
}
.bg-blue-900{
    background-color: var(--blue-900);
}

.bd-blue-50{
    border-color: var(--blue-50)    !important;
}
.bd-blue-100{
    border-color: var(--blue-100)   !important;
}
.bd-blue-200{
    border-color: var(--blue-200)   !important;  
}
.bd-blue-250{
    border-color: var(--blue-250)   !important;
}
.bd-blue-300{
    border-color: var(--blue-300)   !important;
}
.bd-blue-350{
    border-color: var(--blue-350)   !important;
}
.bd-blue-400{
    border-color: var(--blue-400)   !important;
}
.bd-blue-500{
    border-color: var(--blue-500)   !important;
}
.bd-blue-550{
    border-color: var(--blue-550)   !important;
}
.bd-blue-600{
    border-color: var(--blue-600)   !important;
}
.bd-blue-700{
    border-color: var(--blue-700)   !important;
}
.bd-blue-800{
    border-color: var(--blue-800)   !important;
}
.bd-blue-900{
    border-color: var(--blue-900)   !important;
}



.violet-50{
    color: var(--violet-50);
}
.violet-100{
    color: var(--violet-100);
}
.violet-200{
    color: var(--violet-200);
}
.violet-250{
    color: var(--violet-250);
}
.violet-300{
    color: var(--violet-300);
}
.violet-350{
    color: var(--violet-350);
}
.violet-400{
    color: var(--violet-400);
}
.violet-500{
    color: var(--violet-500);
}
.violet-550{
    color: var(--violet-550);
}
.violet-600{
    color: var(--violet-600);
}
.violet-700{
    color: var(--violet-700);
}
.violet-800{
    color: var(--violet-800);
}
.violet-900{
    color: var(--violet-900);
}

.bg-violet-50{
    background-color: var(--violet-50);
}
.bg-violet-100{
    background-color: var(--violet-100);
}
.bg-violet-200{
    background-color: var(--violet-200);
}
.bg-violet-250{
    background-color: var(--violet-250);
}
.bg-violet-300{
    background-color: var(--violet-300);
}
.bg-violet-350{
    background-color: var(--violet-350);
}
.bg-violet-400{
    background-color: var(--violet-400);
}
.bg-violet-500{
    background-color: var(--violet-500);
}
.bg-violet-550{
    background-color: var(--violet-550);
}
.bg-violet-600{
    background-color: var(--violet-600);
}
.bg-violet-700{
    background-color: var(--violet-700);
}
.bg-violet-800{
    background-color: var(--violet-800);
}
.bg-violet-900{
    background-color: var(--violet-900);
}

.bd-violet-50{
    border-color: var(--violet-50)  !important;
}
.bd-violet-100{
    border-color: var(--violet-100) !important;
}
.bd-violet-200{
    border-color: var(--violet-200) !important;
}
.bd-violet-250{
    border-color: var(--violet-250) !important;
}
.bd-violet-300{
    border-color: var(--violet-300) !important;
}
.bd-violet-350{
    border-color: var(--violet-350) !important;
}
.bd-violet-400{
    border-color: var(--violet-400) !important;
}
.bd-violet-500{
    border-color: var(--violet-500) !important;
}
.bd-violet-550{
    border-color: var(--violet-550) !important;
}
.bd-violet-600{
    border-color: var(--violet-600) !important;
}
.bd-violet-700{
    border-color: var(--violet-700) !important;
}
.bd-violet-800{
    border-color: var(--violet-800) !important;
}
.bd-violet-900{
    border-color: var(--violet-900) !important;
}