// Colors

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: rgba($value, var(--mdb-bg-opacity)) !important;
  }
}
$primary-color: #10A390;
.primary-color {
    background-color: #10A390!important;
}